<div class="address-card">
    @for(address of addresses(); track address.id) {
    <mat-card>
        <mat-card-content>
            <div class="address-card__composed-address-part-and-action-buttons">
                <p><strong>Address: </strong>{{ address.addressType }}</p>

                @if (editable) {
                <button mat-icon-button class="address-card__edit-button" (click)="openAddressDialog(address)">
                    <mat-icon>edit</mat-icon>
                </button>
                }
            </div>

            <div class="address-card__composed-address-parts">
                <p><strong>Street: </strong>{{ address.street }}</p>
                <p><strong>Number: </strong>{{ address.addressNumber }}</p>
            </div>
            <div class="address-card__composed-address-parts">
                <p><strong>City: </strong>{{ address.city }}</p>
                <p><strong>Postal code: </strong>{{ address.postalCode }}</p>
            </div>
            <p><strong>Country: </strong> {{ address.country }}</p>
        </mat-card-content>
    </mat-card>
    }

    @if(addresses().length === 0) {
    <p>No address found.</p>
    }
</div>