.main-container {
  margin: auto 64px;
  display: grid;
  grid-template-rows: auto auto;
  gap: 2rem;

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #3f51b5;
    text-transform: uppercase;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
}