<div class="organ-page">
  <div class="organ-page__nav-header">
    <button mat-mini-fab [routerLink]="['/dashboard']" matTooltip="Go to Dashboard">
      <mat-icon class="organ-page__back-icon">arrow_back</mat-icon>
    </button>
  </div>

  <div class="organ-page__breadcrumb">
    <div class="organ-page__breadcrumb-item">
      <mat-icon class="organ-page__breadcrumb-icon">home</mat-icon>
      {{ selectedOrgan }}
    </div>
    <div class="organ-page__breadcrumb-separator">
      <mat-icon class="organ-page__breadcrumb-icon">chevron_right</mat-icon>
    </div>
    <div class="organ-page__breadcrumb-item">
      <mat-icon class="organ-page__breadcrumb-icon">apartment</mat-icon>
      {{ selectedUnit }}
    </div>
  </div>

  <div>
    <!-- things to add --> 
  </div>
</div>
