<div class="contact-card">
    @for(contact of contacts(); track contact.id) {
    <mat-card>
        <mat-card-content>
            <div class="contact-card__first-row">
                <p><strong>Contact:</strong> {{ contact.contactType }}</p>

                @if (editable) {
                <button mat-icon-button class="contact-card__edit-button" (click)="openContactDialog(contact)">
                    <mat-icon>edit</mat-icon>
                </button>
                }
            </div>

            <p><strong>Name:</strong> {{ contact.name }}</p>
            <p><strong>E-mail:</strong> {{ contact.email }}</p>
            <p><strong>Telephone:</strong> {{ contact.phone }}</p>
        </mat-card-content>
    </mat-card>
    }

    @if(contacts().length === 0) {
    <p>No contacts found.</p>
    }
</div>