.navbar-toggle-left {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
    padding-right: 1rem;
}

.navbar-toggle-right {
    display: flex;
    justify-content: flex-start;
    padding-top: 1rem;
    padding-left: 1rem;
}

.navbar-toggle-left:hover, .navbar-toggle-right:hover {
    color: #3f51b5;
    cursor: pointer;
}

.nav-item {
    display: flex;
    flex-direction: column;
}

.icon-name-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.256;

    &:hover {
        cursor: pointer;
        color: #3f51b5;
    }
}