.navbar-toggle-left {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
    padding-right: 1rem;
}

.navbar-toggle-right {
    display: flex;
    justify-content: flex-start;
    padding-top: 1rem;
    padding-left: 1rem;
}

.navbar-toggle-left:hover, .navbar-toggle-right:hover {
    color: #3f51b5;
    cursor: pointer;
}

.nav-item {
    display: flex;
    flex-direction: column;
}

.icon-name-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.256;

    &:hover {
        cursor: pointer;
        color: #3f51b5;
    }
}

// ###################################
/*
.sidenav {
  width: 250px;
  background: #fff;
  height: 100%;
  overflow-y: auto;
}

.nav-item {
  padding: 0;

  .hover:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }

  .sub-list {
    margin-left: 24px;
    border-left: 2px solid rgba(0, 0, 0, 0.1);
    padding-left: 8px;

    .sub-item {
      font-size: 0.9rem;
      color: #555;
    }
  }

  .expand-icon {
    margin-left: auto;
    font-size: 18px;
  }
}
*/