.app {
    &__container {
        display: grid;
        grid-template-rows: auto 1fr auto; // header | content | footer
        min-height: 100vh; // full viewport height
    }

    &__niasse-is-mobile &__niasse-toolbar {
        position: fixed;
        z-index: 2;
    }

    &__ysidenav-container {
        margin-top: 3rem;
        min-height: 100%;
    }

    &__niasse-is-mobile &__sidenav-container {
        flex: 1 0 auto;
    }

    &__content-container {
        flex: 1;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &__footer {
        grid-row: 3; // force to last row
    }
}