<div class="app">
  <div class="app__container" [class.niasse-is-mobile]="isMobile()">
    <app-topbar [titleInBar]="title"></app-topbar>

    <mat-sidenav-container class="app__ysidenav-container" autosize>
      <mat-sidenav 
        #snav 
        [mode]="isMobile() ? 'over' : 'side'"
        [fixedInViewport]="isMobile()" 
        fixedTopGap="56"
        opened="{{!isSideNavOpened}}">
        <app-drawer (toggleMenu)="toggleMenu()" [isOpened]="isSideNavOpened"></app-drawer>
      </mat-sidenav>

      <mat-sidenav-content [style.margin-left.rem]="isSideNavOpened ? 9.5 : 3">
        <div class="app__content-container">
          <router-outlet></router-outlet>
        </div>

        <div class="app__footer">
          <app-footer></app-footer>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
