.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    min-width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.niasse-is-mobile .niasse-toolbar {
    position: fixed;
    z-index: 2;
}

.ysidenav-container {
    flex: 1;
    margin-top: 3rem;
}

.niasse-is-mobile .sidenav-container {
    flex: 1 0 auto;
}

.content-container {
    padding-top: 1rem;
}