<div class="create_dependency_container">
    <form [formGroup]="dependencyForm" class="create_dependency_container__dependency-container">
    <mat-form-field class="create_dependency_container__dependency_name">
        <mat-label>Type requirement title</mat-label>
        <input matInput formControlName="title" class="inputfield">
        @if(dependencyForm.get('title')?.hasError('required')) {
        <mat-error>
            Requirement title is <strong>required!</strong>
        </mat-error>
        } @else if(dependencyForm.get('title')?.hasError('minLength')) {
        <mat-error>
            Requirement title must have at least 1 character!
        </mat-error>
        }
    </mat-form-field>
    <mat-form-field class="create_dependency_container__dependency_priority">
        <mat-label>Insert position</mat-label>
        <input matInput formControlName="position" type="number">
        @if(dependencyForm.get('position')?.hasError('required')) {
        <mat-error>
            Requirement title is <strong>required!</strong>
        </mat-error>
        } @else if(dependencyForm.get('title')?.hasError('minLength')) {
        <mat-error>
            Requirement title must have at least 1 character!
        </mat-error>
        }
    </mat-form-field>
    <div class="create_dependency_container__buttons-container">
        <button matButton="elevated" (click)="cancel()">Cancel</button>
        <button matButton="elevated" color="primary" extended (click)="save()">
            <mat-icon>save</mat-icon>
            Save
        </button>
    </div>
</form>
</div>