.create_dependency_container {
    margin: auto 64px;
    display: grid;
    gap: 2rem;
    padding: 1rem;


    &__dependency-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        align-items: center;
    }

    &__dependency_name {
        flex: 0 0 50%
    }

    &__dependency_priority {
        flex: 0 0 20%;
    }

    &__buttons-container {
        flex: 0 0 20%;
        display: flex;
        justify-content: flex-start;
        gap: 0.625rem;
    }

    /* Stack layout for small screens */
    @media (max-width: 768px) {
        .dependency-container {
            flex-direction: column;
            align-items: stretch;
        }

        #dependency_name {
            order: 1;
        }

        #dependency_priority {
            order: 2;
        }

        .buttons-container {
            order: 3;
        }
    }
}