<mat-toolbar color="primary" class="toolbar mat-elevation-z8">

    <div class="toolbar__links-menu">
        @if (true) {
        <button mat-icon-button routerLink="/dashboard" aria-label="Example icon-button with menu icon">
            <!--<mat-icon class="toolbar__icon-container__icon toolbar__icon-container__icon--schedule">schedule_send</mat-icon>-->
            <mat-icon>construction</mat-icon>
        </button>
        } @else {
        <button mat-icon-button aria-label="Example icon-button with menu icon" disabled>
            <!--<mat-icon class="toolbar__icon-container__icon toolbar__icon-container__icon--schedule">schedule_send</mat-icon>-->
            <mat-icon>construction</mat-icon>
        </button>
        }

        <span class="toolbar__title" routerLink="/dashboard">{{ titleInBar }}</span>

        @if(!hasRequestApplication()) {
        <div class="toolbar__nav-links" matTooltip="No document selected">
            <mat-icon class="toolbar__nav-links__link">folder</mat-icon>
        </div>
        } @else {
        <button routerLink="/shoppingcart" mat-icon-button [matBadge]="applicationsInTheCart" matBadgePosition="after">
            <mat-icon>folder_open</mat-icon>
        </button>
        }
    </div>

    <span class="toolbar__spacer"></span>

    @if(auth.isAuthenticated()) {
    <div id="infoProfile">
        <div class="toolbar__dropdown">
            <button mat-button class="toolbar__dropdown__button" aria-haspopup="true" aria-expanded="false">
                {{ email }}
                <mat-icon>arrow_drop_down</mat-icon>
            </button>

            <div class="toolbar__dropdown__content">
                <div class="toolbar__dropdown__content__title">{{ 'TOPBAR.YOUR_ACCOUNT' | translate }}</div>
                <ul>
                    <li class="toolbar__dropdown__content__item" (click)="auth.logout()">{{ 'TOPBAR.LOGOUT' | translate
                        }}</li>
                </ul>
            </div>
        </div>
    </div>
    }

    @if(!auth.isAuthenticated()) {
    <button mat-button (click)="auth.login()">{{ 'TOPBAR.LOGIN' | translate }}</button>
    }

    <button mat-icon-button [matMenuTriggerFor]="languageMenu" matTooltip="{{ 'CHANGE_LANGUAGE_TOOLTIP' | translate }}">
        <mat-icon>language</mat-icon>
    </button>

    <mat-menu #languageMenu="matMenu">
        <button mat-menu-item (click)="useLanguage('en')" [disabled]="translate.currentLang === 'en'">
            <span>English</span>
        </button>
        <button mat-menu-item (click)="useLanguage('pt')" [disabled]="translate.currentLang === 'pt'">
            <span>Português</span>
        </button>
        <button mat-menu-item (click)="useLanguage('es')" [disabled]="translate.currentLang === 'es'">
            <span>Español</span>
        </button>
        <button mat-menu-item (click)="useLanguage('fr')" [disabled]="translate.currentLang === 'fr'">
            <span>Français</span>
        </button>
    </mat-menu>
</mat-toolbar>