.main-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin-top: 2rem;

    h1,
    h2,
    h3,
    h4,
    h5 {
        color: #3f51b5;
        text-transform: uppercase;
    }
}